# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log


# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Jupyter / Testing
# =========================
.ipynb_checkpoints/
.pytest_cache/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db